/*--- section-hero ---*/

.wrapper {
  display: flex;
  align-items: center;
  height: 70vh;
}

.section-header {
  display: flex;
  max-width: 80%;
  margin: auto;
}

.col-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-left h1 {
  margin-bottom: 40px;
}

.col-left p {
  flex: 1;
}

.image {
  width: 40vw;
  height: 100%;
  object-fit: contain;
  margin-left: 10%;
  
}

.social-media-box {
  display: flex;
  max-width: 80%;
  margin: auto;
  font-size: 1.5vw;
}

.social-media-icon {
  padding: 6px;
  transition: all 0.9s ease;
  color: var(--media-color);
}

.footer-text {
  color: var(--text-color);
  display: flex;
  align-self: center;
  margin-left: auto;
  font-size: 0.6vw;
}

.social-media-icon:hover {
  transform: rotate(360deg);
}

@media only screen and (max-width: 800px) {
  #hamburger-menu {
    display: none;
  }

  .hamburger {
    position: absolute;
    right: 22px;
    color: var(--text-color);
    z-index: 9999;
    position: fixed;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .hamburger-close {
    position: absolute;
    right: 17px;
    color: var(--text-color);
    padding: 5px;
    background-color: var(--bg-color);
    display: none;
  }
  #hamburger-menu:checked ~ .hamburger-close {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
  }
}

@media only screen and (min-width: 800px) {
  .hamburger,
  .hamburger-close {
    display: none;
  }
  #hamburger-menu {
    display: none;
  }
}

@media only screen and (max-width: 800px) {

  nav {
    display: block;
    display: none;
    background-color: var(--bgc-mobile);
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 30px;
    z-index: 999;
    position: fixed;
    
  }

  ul {
    display: block;
  }

  ul li {
    padding: 20px;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  .logo img {
    width: 20vw;
  }

  .top-icon {
    margin: 0;
    padding: 20px;
  }

  /* --- index --- */

  .wrapper {
    height: 100vh;
    margin-top: 40px;
  }

  .section-header {
    flex-direction: column-reverse;
  }

  .image {
    width: 80vw;
    margin: auto;
  }
  .col-left {
    height: auto;
  }
  .col-left h1 {
    font-size: 20px;
    margin: 30px 0;
  }

  .col-left p {
    font-size: 13px;
    margin-bottom: 25px;
    text-align: justify;
  }
  .btn {
    padding: 1.4vh 4vw;
    /* font-size: 3vw; */
    font-size: 12px;
  }
}

@media only screen and (max-width: 1200px) {
  .col-left p {
    font-size: 14px;
  }
}
